<header>
  <nav class="header-nav">
    <a class="header-title" href="/">La cuisine ;)</a>
    <ul>
      <li><a href="/personnes">Liste des cuisiniers</a></li>
      <li><a href="/personnes/new">Ajouter cuisinier</a></li>
      <li><a href="/recettes">Liste des recettes</a></li>
      <li><a href="/recettes/new">Ajouter recette</a></li>
    </ul>
  </nav>
</header>