<h2 class="page-header">Modification de la recette</h2>
<form action="/recettes/<%= recette.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/recettes">Annuler</a>
    <button class="btn btn-primary" type="submit">Confirmer les modifications</button>
  </div>
</form>