:root {
    --recette-cover-width: 200px;
    --recette-cover-width-large: 325px;
    --recette-cover-aspect-ratio: 0.75;
  }
  
  .recette-cover {
    width: var(--recette-cover-width);
    height: calc(var(--recette-cover-width) / var(--recette-cover-aspect-ratio));
  }
  
  .recette-cover-large {
    --recette-cover-width: var(--recette-cover-width-large);
  }
  
  .recette-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--recette-cover-width));
  }
  
  .recette-grid-large {
    grid-template-columns: repeat(auto-fill, var(--recette-cover-width-large));
  }
  
  .recette-details {
    display: flex;
  }
  
  .recette-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
  }
  
  .recette-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
  }
  
  .recette-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas:
      "edit delete"
      "personne personne";
    grid-gap: .5rem;
    margin-top: .5rem;
  }
  
  .recette-details-personne-button {
    grid-area: personne;
    justify-self: stretch;
  }